<header class="header">

  <div class="logo">
    <h2>Student Course Portal</h2>
  </div>

  <nav class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      Home
    </a>

    <a
      routerLink="/courses"
      routerLinkActive="active">
      Courses
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active">
      Profile
    </a>

    <a
      routerLink="/enrollment"
      routerLinkActive="active">
      Template Form
    </a>

    <a
      routerLink="/reactive-enrollment"
      routerLinkActive="active">
      Reactive Form
    </a>

  </nav>

</header>
